body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.raresFound {
  font-size: 20px;
}

.cardsList {
  font-size: 15px;
}

#appname {
  margin-top: 20px;
  margin-bottom: 20px;
}

#lever {
  margin-top: 10px;
}

#clear {
  margin-bottom: 10px;
}
